[Unit]
Description=Start scale routine of Pi-Ager
After=network.target

[Service]
Type=simple
ExecStart=python3 /opt/pi-ager/scale.py 2>&1
PIDFile=/tmp/pi-ager_scale.pid

[Install]
Alias=pi-ager_scale
WantedBy=multi-user.target