[Unit]
Description=Start main routine of Pi-Ager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=python3 /opt/pi-ager/main.py 1>/dev/null 2>&1
PIDFile=/tmp/pi-ager_main.pid
StandardOutput=null
StandardError=null

[Install]
Alias=pi-ager
WantedBy=multi-user.target