[Unit]
Description=Automatsches Installationsscript für pi-ager zum Setzen von Passwörter und WIFI-Zugang, abhängig von setup.txt in /boot
Before=rc-local.service lighttpd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup_pi-ager.sh

StandardOutput=append:/boot/setup.log
StandardError=append:/boot/setup.log

[Install]
WantedBy=multi-user.target