<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Pi-Ager/">Home</a></li>
		        	<li><a href="/Pi-Ager/about">About</a></li>
	        		<li><a href="/Pi-Ager/cv">CV</a></li>
	        		<li><a href="/Pi-Ager/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pi-ager@kording-web.de">email</a></li>
	        		<li><a href="https://github.com/Tronje-the_Falconer">github.com/Tronje-the_Falconer</a></li>
				</ul>
			</footer>
		</body>
	</html>
