<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/Pi-Ager/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Pi-Ager/">Home</a></li>
                    <li><a href="/Pi-Ager/einkaufsliste">Einkaufsliste</a></li>
                    <li><a href="/Pi-Ager/bauanleitung">Bauanleitung</a></li>
                    <li><a href="/Pi-Ager/installation">Installation</a></li>
                    <li><a href="/Pi-Ager/bedienung">Bedienung</a></li>
                    <li><a href="/Pi-Ager/faq">FAQ</a></li>
                    <li><a href="https://github.com/Tronje-the-Falconer/Pi-Ager/wiki/Error-reporting">Fehler Fragen Anregungen melden</a></li>
	        		<li><a href="/Pi-Ager/blog">Blog</a></li>
                    <li><a href="/Pi-Ager/about">Über</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pi-ager@kording-web.de">email</a></li>
	        		<li><a href="https://github.com/Tronje-the-Falconer">github.com/Tronje-the-Falconer</a></li>
				</ul>
			</footer>
		</body>
	</html>
