[Unit]
Description=Start scale routine of Pi-Ager
[Service]
Type=oneshot
ExecStart=python3 /opt/pi-ager/scale.py

[Install]
Alias=pi-ager_scale
WantedBy=multi-user.target