[Unit]
Description=Start scale routine of Pi-Ager

[Service]
Type=oneshot
ExecStart=python3 /opt/pi-ager/agingtable.py 2>&1

[Install]
Alias=pi-ager_scale
WantedBy=multi-user.target