[Unit]
Description=Start main routine of Pi-Ager

[Service]
Type=oneshot
ExecStart=python3 /opt/pi-ager/main.py

[Install]
Alias=pi-ager
WantedBy=multi-user.target