[Unit]
Description=Automatsches Installationsscript für reifeschrank. Expand Filesystem & automatisches Setzen von Passwörter und WIFI-zugang, abhaengig von setup.txt in /boot

[Service]
Type=oneshot
ExecStart=/root/setup_reifeschrank.sh

[Install]
Alias=setup_reifeschrank
WantedBy=multi-user.target